body {
    background-color: gainsboro;
}
header{

  height:80px;
  background-color: lightsalmon;
  padding:10px;
  text-align:center;
  border-bottom: 1px solid;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
}

header h1 {
    color: gainsboro;
    text-align: center;
    font-family: verdana
}

li {
    font-size: 30px;
    float: left;
    padding-top: 29px;
    color: #dcb07a;
}
ol ,ul {
    list-style-type: none;
    padding-top: 61px;
    
}

